<a href="<%= value %>" target="_blank" rel="noopener noreferrer">
  <svg class="icon icon-<%= icon %>" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <path d="M933.714286 432.457143H520.8v169.714286h235.885714c-10.171429 54.857143-41.028571 101.257143-87.542857 132.342857-39.314286 26.285714-89.485714 41.828571-148.457143 41.828571-114.171429 0-210.742857-77.142857-245.257143-180.8-8.685714-26.285714-13.714286-54.4-13.714285-83.314286s5.028571-57.028571 13.714285-83.314285c34.628571-103.542857 131.2-180.685714 245.371429-180.685715 64.342857 0 122.057143 22.171429 167.542857 65.6l125.714286-125.828571c-76-70.857143-175.085714-114.285714-293.257143-114.285714-171.314286 0-319.542857 98.285714-391.657143 241.6-29.714286 59.2-46.628571 126.171429-46.628571 197.028571S99.428571 650.057143 129.142857 709.257143C201.257143 852.571429 349.485714 950.857143 520.8 950.857143c118.4 0 217.6-39.314286 290.057143-106.285714 82.857143-76.342857 130.742857-188.8 130.742857-322.4 0-31.085714-2.742857-60.914286-7.885714-89.714286z"></path>
  </svg>
</a>
