<!-- footer container -->
<footer id="footer" class="footer">
  <div class="footer-container">
    <p>&copy; <%= date(new Date(), 'YYYY') %> <a href="/" target="_blank"><%= config.author %></a></p>

    <% if (theme.hitokoto && theme.hitokoto.enable) { %>
      <p id="hitokoto"></p>
      <script src="https://v1.hitokoto.cn/?<%= theme.hitokoto.type ? 'c=' + theme.hitokoto.type + '&' : '' %>encode=js&select=%23hitokoto" defer></script>
    <% } %>

    <% if (theme.beian) { %>
      <p><a href="http://www.miitbeian.gov.cn" target="_blank"><%= theme.beian %></a></p>
    <% } %>

    <p>Powered by <a href="https://hexo.io" target="_blank">Hexo</a> Theme - <a href="https://github.com/miiiku/flex-block" target="_blank">flex-block</a></p>
  </div>
</footer>