<!-- footer container -->
<footer id="footer" class="footer">
  <div class="footer-container">
    © 2019 <a href="/"><%= config.author %></a>
  </div>
</footer>

<% if (theme.commit.valine) { %>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<% } %>
<%- js('js/script') %>