<!-- footer container -->
<footer id="footer" class="footer">
  <div class="footer-container">
    <p>&copy; <%= date(new Date(), 'YYYY') %> <a href="/"><%= config.author %></a></p>
    <% if (theme.hitokoto && theme.hitokoto.enable) { %>
      <p id="hitokoto"></p>
      <script src="https://v1.hitokoto.cn/?<%= theme.hitokoto.type ? 'c=' + theme.hitokoto.type + '&' : '' %>encode=js&select=%23hitokoto" defer></script>
    <% } %>
  </div>
</footer>