<!-- page container -->
<% if (page.total > 1){ %>
  <nav class="page-container">
    <%
      var prev_text = "ʚ";
      var next_text = "ɞ";
    %>
    <%- paginator({
      prev_text: prev_text,
      next_text: next_text,
      end_size: 1,
      mid_size: 1,
    }) %>
  </nav>
<% } %>