<!-- page container -->
<% if (page.total > 1){ %>
  <nav class="page-container">
    <%
      var prev_text = "&laquo;";
      var next_text = "&raquo;";
    %>
    <%- paginator({
      prev_text: prev_text,
      next_text: next_text
    }) %>
  </nav>
<% } %>