// Color

color-block-default()
  color: #000000
  background-color: #eaedf6
  background-image: linear-gradient(20deg, #e2e5ed, #f1f4f4)

color-block-orange()
  color: #ffffff
  background-color: #e77842
  background-image: linear-gradient(45deg, #e77842, #f7c068)

color-block-red()
  color: #ffffff
  background-image: #ff5858
  background-image: linear-gradient(1deg, #f857a6, #ff5858)

color-block-violet()
  color: #ffffff
  background-color: #b53cff
  background-image: linear-gradient(20deg, #b53cff, #f952ff)

color-block-blue()
  color: #ffffff
  background-color: #6bd0ff
  background-image: linear-gradient(40deg, #327ae7, #6bd0ff)

color-block-yellow()
  color: #ffffff
  background-color: #ffd62e
  background-image: linear-gradient(40deg, #ffb040, #ffd62e)