// Color
color-block-default()
  color: #000000
  background-color: #eaedf6
  background-image: linear-gradient(20deg, #e2e5ed, #f1f4f4)

color-block-orange()
  color: #ffffff
  background-color: #e77842
  background-image: linear-gradient(45deg, #e77842, #f7c068)

color-block-red()
  color: #ffffff
  background-image: #ff5858
  background-image: linear-gradient(1deg, #f857a6, #ff5858)

color-block-violet()
  color: #ffffff
  background-color: #b53cff
  background-image: linear-gradient(20deg, #b53cff, #f952ff)

color-block-blue()
  color: #ffffff
  background-color: #6bd0ff
  background-image: linear-gradient(40deg, #327ae7, #6bd0ff)

color-block-yellow()
  color: #ffffff
  background-color: #ffd62e
  background-image: linear-gradient(40deg, #ffb040, #ffd62e)


// Card
card(margin, padding, minWidth, minHeight, borderRadius, number)
  $basis = (100 / number)%

  .card-wrap
    margin: 0 (-(margin))

  .card-item
    flex: 1 1 $basis
    &.large
      flex: 1 1 $basis * 2
    article
      margin: margin
      padding: padding
      min-width: minWidth
      min-height: minHeight
      border-radius: borderRadius

// MainContainer 
main-container-desktop()
  .main-container
    max-width: desktop-max-content-width
    background-color: #ffffff
    width: 92vw
    min-height: desktop-banner-margin * 2
    margin: 0 auto
    padding: 20px 40px
    border-radius: 40px

main-container-mobile()
  .main-container
    background-color: #ffffff
    width: auto
    min-width: 70vw
    min-height: mobile-banner-margin * 2
    margin: 0 content-margin-min content-margin-min
    padding: 10px
    border-radius: 20px
