// Header
header-height = 54px
header-padding = 4vw

// Banner
banner-height = 450px
banner-height-mobile = 280px

content-margin = 16px
content-margin-min = 7px

// desktop 桌面(>=1200)
desktop-max-content-width = 1200px
desktop-banner-margin = 85px
font-desktop-large = 48px
font-desktop-focus = 32px
font-desktop-commonly = 16px
font-desktop-small = 14px

// mobile 手机(768<)
mobile-banner-margin = 40px
font-mobile-large = 24px
font-mobile-focus = 18px
font-mobile-commonly = 14px
font-mobile-small = 12px

font-name = "Source Han Sans"
font-path = "fonts/Source Han Sans.ttf"
