// Header
--navbar-height = 54px
--mobile-navbar-height = 32px

content-margin = 16px
content-margin-min = 12px

inner-width = 860px

--pc-padding = 20px
--mb-padding = 12px
--markdown-vertical = 1.6em

// desktop 桌面(>=1200)
desktop-max-content-width = 1200px
desktop-banner-margin = 85px
desktop-banner-height = 460px
font-desktop-large = 28px
font-desktop-focus = 24px
font-desktop-commonly = 16px
font-desktop-small = 14px

// mobile 手机(768<)
mobile-banner-margin = 40px
mobile-banner-height = 280px
font-mobile-large = 20px
font-mobile-focus = 18px
font-mobile-commonly = 14px
font-mobile-small = 12px

font-name = "Source Han Sans"
font-path = "fonts/Source Han Sans.ttf"

// Media queries
mq-pc = "screen and (min-width: 768px)"
mq-mb = "screen and (max-width: 767px)"