.article-nav
  margin: 20px 0
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  
  .article-nav-link
    display: block
    margin: 20px
    padding: 25px
    flex: 1 1 40%
    text-align: center
    border-radius: 6px
    color-block-default ""

    .article-nav-caption
      font-weight: 600

    .article-nav-title
      font-size: 28px
      margin-top: 20px

@media screen and (max-width: 760px)
  .article-nav .article-nav-link
    flex: 1 1 100%
    