.banner-container
  width: 100%

  .banner-content
    position: relative
    width: 100%
    margin: auto
    display: flex

  // post text
  .post-text
    width: 100%
    max-width 100%
    max-height: 100%
    overflow: hidden

  // tag
  .type-wrap
    a
      display: inline-block
      padding: 5px 12px
      margin: 0 2px 1px 0
      color: #161b3d;
      background-color: #f4f4f4
      border-radius: 20px
      font-size: 10px
      font-weight: 700
      letter-spacing: 1.5px
      transition: 0.3s all

      &:hover
        background-color: #2821fc
        color: #ffffff

  // title
  .title-wrap
    font-weight: 700
    line-height: 1.5
    overflow: hidden
    text-overflow: ellipsis
    word-break: break-word

  // sub title
  .title-sub-wrap
    margin: 0

  // banner image
  .banner-content.full-content
    align-items: center
    justify-content: center

    .post-image
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: -1
      image-mask()
    
    .post-text
      padding: 0 20px
      text-align: center
      color: #ffffff

// desktop >=768
@media screen and (min-width: 768px)
  .banner-content
    min-height: desktop-banner-height
    padding-bottom: desktop-banner-margin

  .title-wrap
    font-size: font-desktop-large
    margin: 25px 0

  .title-sub-wrap
    font-size: font-desktop-commonly

  .banner-content.post-content
    padding: 40px 20px desktop-banner-margin
    max-width: 1366px

    .post-text
      color: #161b3d

  // post banner image
  .banner-content.post-content.is-post-image
    justify-content: flex-end
    align-items: flex-end

    .post-text
      flex: 1 1 50%
      max-width: 50%
      padding-left: 40px
      padding-right: 10px

    .post-image
      position: absolute
      top: 40px
      left 20px
      width: calc(50% - 20px)
      height: calc(100% - 40px)
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      border-radius: 4px

  // post banner text
  .banner-content.post-content.no-post-image
    justify-content: center
    align-items: center

    .post-text
      padding: 0 10px
      text-align: center;

// mobile 768<
@media screen and (max-width: 767px)
  .banner-content
    min-height: mobile-banner-height
    padding-bottom: mobile-banner-margin

  .title-wrap
    font-size: font-mobile-large
    margin: 20px 0

  .title-sub-wrap
    font-size: font-mobile-commonly

  .banner-content.post-content
    padding: 0 20px mobile-banner-margin
    width: 100%
    align-items: center
      
    .post-image
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      border-radius: 0
      z-index: -1
      image-mask()

    .post-text
      padding: 10px
      color: #161b3d

  .banner-content.post-content.is-post-image .post-text
    color: #ffffff
