.banner-container
  position: relative
  width: 100%
  min-height banner-height
  padding-bottom: banner-margin

  // post text
  .post-text
    width: 100%
    max-width 100%
    max-height: 100%
    overflow: hidden
    margin-top: -70px

  // tag
  .type-wrap > a
    display: inline-block
    padding: 5px 12px
    margin: 0 2px 1px 0
    color: #161b3d;
    background-color: #f4f4f4
    border-radius: 20px
    font-size: 10px
    font-weight: 700
    letter-spacing: 1.5px
    transition: 0.3s all

    &:hover
      background-color: #2821fc
      color: #ffffff

  // title
  .title-wrap
    font-size: 54px
    font-weight: 700
    margin: 25px 0
    line-height: 1.2
    overflow: hidden
    text-overflow: ellipsis
    word-break: break-word

  // sub title
  .title-sub-wrap
    padding-bottom: 20px
    font-size: 18px

  // banner content
  .banner-content
    position: absolute
    top: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    margin: auto

  // post banner & full banner
  .banner-content.full-content, .banner-content.post-content
    display: flex
    align-items: center
    justify-content: center

  // banner image
  .banner-content.full-content
    .post-image
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: -1
      image-mask()
    
    .post-text
      padding: 0 20px
      text-align: center
      color: #ffffff

  // post banner
  .banner-content.post-content
    max-width: 1366px

    .post-text
      color: #161b3d
      padding: 40px 10px 45px 40px

  // post banner image
  .banner-content.post-content.is-post-image
    padding: 40px 30px

    & > div
      flex: 1 1 0
      min-width: 50%

    .post-image
      height: 100%
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      border-radius: 4px

  // post banner text
  .banner-content.post-content.no-post-image
    right: 0
    margin: auto
    justify-content: flex-start
    padding-left: 63px


// mobile 768<
@media screen and (max-width: 767px)
  .banner-container
    min-height: banner-height-mobile

    .title-wrap
      font-size: 30px
    
    .banner-content.full-content
      .post-text
        margin-top: -30px
        padding: 0 10px

    .banner-content.post-content
      width: 100%

      .post-text
        padding: 10px
        margin: 0 7px

    .banner-content.post-content.no-post-image
      padding-left: 0

    .banner-content.post-content.is-post-image
      position: absolute
      top: 0
      left: 0
      padding: 0
      width: 100%
      height: 100%
      
      .post-text
        color: #ffffff

      .post-image
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border-radius: 0
        z-index: -1
        image-mask()
