
.card-container
  margin: 0 auto
  overflow: hidden

  .card-wrap
    display: flex
    flex-wrap: wrap

    .card-item
      &:nth-child(1n) article
        color-block-orange()

      &:nth-child(2n) article
        color-block-red()

      &:nth-child(3n) article
        color-block-violet()

      &:nth-child(4n) article
        color-block-blue()

      &:nth-child(5n) article
        color-block-yellow()

      &.img
        .card-cover
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          z-index: -1
          background-size: cover
          background-position: center
          background-repeat: no-repeat

          &:before
            display: block
            content: ''
            width: 100%
            height: 100%
            opacity: 0.4
            background-color: #394245
            background-image: linear-gradient(234deg, #394245 0%, #000 100%)

      article
        position: relative
        z-index: 0
        overflow: hidden
        transition: transform 0.2s ease

        &:hover
          transform: translateY(-5px)

        .card-link
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          width: 100%
          height: 100%
          z-index: 1

// 文章卡片
.card-container.card-articles
  card(content-margin, 40px 38px 45px, 350px, 370px, 24px, 3)

// 分类卡片
.card-container.card-categories
  card(content-margin, 40px 38px 45px, 250px, 110px, 24px, 4)

// 链接卡片
.card-container.card-links
  card(content-margin, 20px 9px 20px, 200px, 120px, 12px, 5)

// 文章导航卡片
.card-container.card-article-nav
  card(content-margin, 40px 38px 45px, 30vw, 90px, 24px, 2)

// mobile 768<
@media screen and (max-width: 767px)
  .card-container.card-articles
    card(content-margin-min, 30px 30px 40px, 70vw, 200px, 24px, 1)
  
  .card-container.card-categories
    card(content-margin-min, 30px 30px 40px, 70vw, 120px, 24px, 1)
    // 不取消边距
    .card-wrap
      margin: 0 (-(content-margin-min))
  
  .card-container.card-links
    card(content-margin-min, 30px 30px 40px, 70vw, 120px, 24px, 1)
    // 不取消边距
    .card-wrap
      margin: 0 (-(content-margin-min))

  .card-container.card-article-nav
    card(content-margin-min, 30px 30px 40px, 70vw, 120px, 24px, 1)
    // 不取消边距
    .card-wrap
      margin: 0 (-(content-margin-min))
