/*
 * 所有的卡片内容样式都在这里
 *
 * 卡片的通用样式在`mixins.styl`里
 */

// 卡片容器
.card-container {
  position: relative
  height: 100%

  .card-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-image: linear-gradient(234deg, #394245 0%, #000 100%);
    }
  }

  .card-cover + .card-text {
    color: var(--theme-text-light)
  }

  .card-text {
    position: relative;
    color: var(--theme-text-primary);
    line-height: var(--font-base-lh);
    transition: color 0.3s ease;

    .card-text--title {
      font-size: var(--font-stress-size);
      font-weight: bolder;
    }

    .card-text--row {
      font-size: var(--font-common-size);
      margin-top: 20px;
    }

    .last-time {
      font-size: var(--font-base-size)
      margin-top: 10px;
    }
  }
}