.header-container.post .post-text {
  text-align: left
}

.header-content {
  position: relative
  width: 100%
  margin: auto
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding-top: --navbar-height

  .social-icons.social-icons-header {
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    list-style: none

    a {
      display: block
      text-align: center
    }

    svg.icon {
      display: block
      fill: #E7E7E7
      opacity: 0.6
      transition: all 0.3s ease

      &:hover {
        fill: #FFFFFF
        opacity: 0.9
      }
    }
  }
}

.post-image {
  image-mask()
  z-index: auto
}
    
// post text
.post-text {
  width: inner-width
  max-width 100%
  max-height: 100%
  overflow: hidden
  padding: 0 --pc-padding
  text-align: center
  color: #ffffff
}

// tag
.type-wrap a {
  display: inline-block
  padding: 5px 12px
  margin: 0 2px 1px 0
  color: #161b3d;
  background-color: #f4f4f4
  border-radius: 20px
  font-size: 10px
  font-weight: 700
  letter-spacing: 1.5px
  transition: 0.3s all
  opacity: 0.9

  &:hover {
    background-color: #2821fc
    color: #ffffff
  }
}

// title
.title-wrap {
  font-weight: 700
  line-height: 1.5
  overflow: hidden
  text-overflow: ellipsis
  word-break: break-word
  opacity: 0.9
}

// sub title
.title-sub-wrap {
  margin: 0
  line-height: 1.3
  opacity: 0.9
}

@media mq-pc {
  .header-content {
    min-height: desktop-banner-height
    padding-bottom: desktop-banner-margin

    .social-icons.social-icons-header {
      padding-top: 40px

      a {
        padding-top: 10px

        &:not(:last-child) {
          padding-right: 30px
        }
      }

      svg.icon {
        width: 32px
        height: 32px
      }
    }
  }

  .title-wrap {
    font-size: font-desktop-large
    margin: 25px 0
  }

  .title-sub-wrap {
    font-size: font-desktop-commonly
  }
}

@media mq-mb {
  .header-content {
    min-height: mobile-banner-height
    padding-bottom: mobile-banner-margin

    .social-icons.social-icons-header {
      padding-top: 20px

      a {
        padding-top: 5px

        &:not(:last-child) {
          padding-right: 15px
        }
      }

      svg.icon {
        width: 24px
        height: 24px
      }
    }
  }

  .title-wrap {
    font-size: font-mobile-large
    margin: 20px 0
  }

  .title-sub-wrap {
    font-size: font-mobile-commonly
  }
}