// 其次的页面内容容器
.content-container.next {
  min-height: auto
}

// 文章标签列表
.article-footer .article-tag-list {
  display: flex
  flex-wrap: wrap

  a {
    display: block
    color: #999999
    margin-right: 10px
    margin-bottom: 10px

    &:hover {
      color: #555555
    }
  }
}


@media mq-pc {
  content-container-desktop()
  
  .article-content {
    width: inner-width
    max-width: 100%
    padding: --pc-padding;
    margin: --pc-padding auto auto
    soft-box(15px, 10px)
    
    & > div:not(:first-child) {
      margin-top: --pc-padding;
    }

    .article-navs {
      margin-left: -(--pc-padding)
      margin-right: -(--pc-padding)
      
      .article-nav-title {
        font-size: font-desktop-commonly
      }
    }
  }
}

@media mq-mb {
  content-container-mobile()
  
  .article-content {
    width: 100%
    padding: --mb-padding

    & > div:not(:first-child) {
      margin-top: --mb-padding
    }

    .article-navs {
      margin-left: -(--mb-padding)
      margin-right: -(--mb-padding)
      
      .article-nav-title {
        font-size: font-mobile-commonly
      }
    }
  }
}