.page-container {
  margin: 20px auto
  text-align: center
  color: var(--theme-text-low)

  .page-number, .extend {
    padding: 4px 6px
    margin: 8px
    transition: color 0.3s ease

    &:hover {
      color: var(--theme-text-active)
    }
  }
  
  .current {
    color: var(--theme-text-primary)
  }
}